/* css reset */
 @charset 'utf-8';
 * {
    margin: 0px;  
    padding: 0px;
    border: 0px;
    outline: 0px;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
} 
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset , img {
    border: 0;
    display: block;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
caption ,th {
    text-align:left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content:'';
}



/* 防止打印页面时a标签的超链接内容显示在页面上 */
@media print {
a[href]:after {
    content: none !important;
  }
}

/* 防止不同块儿之间相互影响 */
.clearfix {
    overflow: auto;
    _height: 1%;
}

/* 超出部分用神略号表示 */
.ellipsis{
    overflow: hidden; 
    white-space: nowrap;   
    text-overflow: ellipsis;
}


/* 自定义一些常用的样式(首字母做名字) */
.fl {
    float: left;
}
.fr {
    float: right;
}
.cp {
    cursor: pointer;
}
.cn {
    cursor: not-allowed;
}
.di {
    display: inline-block;
}
.tc{
    text-align: center;
}